<div class="main-page-container" *ngIf="!youTestedAll">

  <div class="answers-count-container">
    <div class="correct-answers">Spravne odpovede: {{correctAnswers}}</div>
    <div class="bad-answers">Spatne odpovede: {{badAnswers}}</div>
    <hr>
    <div class="correct-with-help">Spravne odpovede s napovedou: {{correctAnswersWithHelp}}</div>
  </div>

  <app-bird-image [birdImagePath]="birdImagePath"></app-bird-image>
  <!-- <button type="button" (click)="showHelp()" class="btn btn-info">Potrebujem Napovedu</button> -->
  <!-- <button type="button" (click)="hideHelp()">Skri Napovedu</button> -->
  <div class="radio-options-or-string">

    <form [formGroup]="birdQuestionForm" (ngSubmit)="correct()" class="form-group">
      <!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"> -->
      <!-- bird radio options -->

      <div class="bird-name-options-container" *ngIf="displayOptions">
          <h3>Vtak na obrazku je</h3>
          <hr>
          <input type="radio" formControlName="birdNameOptions" value="trueName" checked>Vtak<br>
          <input type="radio" formControlName="birdNameOptions" value="falseName1">Vtak 1<br>
          <input type="radio" formControlName="birdNameOptions" value="falseName2">Vtak 2<br>
      </div>

      <!-- <app-bird-radio-options  [optionsControl]="birdNameOptions"></app-bird-radio-options> -->

      <div class="bird-name-string-container form-group" *ngIf="!displayOptions">
          <label for="bird-name">Nazov Vtaka:       </label>
          <input class="form-control" type="text" formControlName="birdNameString" id="bird-name">
      </div>

      <!-- full string search -->
      <button type="submit" class="btn btn-primary">Potvrd</button>
    </form>

    <div class="correction-form" *ngIf="incorrectString && !displayOptions">
      <div class="input-value">Vlozena hodnota: {{valueToCheck}}</div>
      <div class="correct-value">Spravna hodnota: {{bird.name}}</div>

      <h3>Bola odpoved takmer spravna ?</h3>
      <button class="btn btn-success" type="button" (click)="itWasCorrect()">Pomylila som sa len v pismenkach</button>
      <button class="btn btn-danger" type="button" (click)="itWasIncorrect()">Nevedela som</button>
    </div>

  </div>
</div>
<div *ngIf="youTestedAll">
  <h1>HOTOVO 1 REFRESHNI STRANKU</h1>
</div>